{% extends 'base.html' %}
{% block content %}
<!-- Intro -->
<h2>Welcome to some random guy's blog!</h2>
<p>My name is Thomas Le, and I'm studying full-stack development. Here are my reflections on some of my projects.</p>
<!-- Post depending on what blog is being viewed -->
    <h2>Posts</h2>
    {% if posts %}
        <ul>
        {% for post in posts %}
            <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no posts.</p>
    {% endif %}

{% endblock %}
